/* This section involves the overall style of main tags */

* {
    box-sizing: border-box;
  	font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
  	font-size: 16px;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

body {
    background-color: #435165;
  	margin: 0;
}

form {
    text-align: center;
}

/***** Home page *****/

body.loggedin {
    background-color: #f3f4f7;
}

/* Layout and structure of form body in home page */

div.container {
    width: 600px;
    height: 750px;
    display : inline-block;
    background-color: rgba(0,0,0,0.5);
    font-size: 18px;
    margin: 3% 5% 2% 5%;
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,0.3);
    box-shadow: 2px 2px 15px
}

div.page {
    width: 100%;
    margin: 0px auto 0px auto;
}

form.info {
    margin: 10px;
}       

span.image{
    display:inline-block;
    vertical-align:middle;
    margin-left: 3%;
}

span.pokemon_trivia {
    display:inline-block;
    vertical-align:middle;
    margin-left: 3%;
}

div.types span {
    display:inline-block;
    vertical-align:middle;
}

div.stats {
    display:inline-block;
    vertical-align:middle;
    margin-right: 7%;
    width: 74%;
    height: 74%;
}

/* Profile page */

.content h1 {
    margin: 0;
    padding: 25px 0 25px 25px;
    font-size: 28px;
    border-bottom: 1px solid #e0e0e3;
    color: #4a536e;
}

.content .profile_table{
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  	margin: 25px 0;
  	padding: 25px;
	background-color: #fff;
}

.content .profile_table table td:first-child, .content .profile > div table td:first-child {
	font-weight: bold;
	color: #4a536e;
	padding-right: 15px;
}

.content h2 {
    margin: 0;
    padding: 25px 0 25px 25px;
    font-size: 22px;
    color: #4a536e;
}

.content .duel_table table {
    width: 80%;
    border-collapse: collapse;
    border-spacing: 0;
    position: relative;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.content .duel_table td, th {
    border: 1px solid rgb(190,190,190);
    text-align: center;
    padding: 5px 5px;
}

/* Result page */

.content .result {
    width: 700px;
    height: 800px;
    background-color: rgba(0,0,0,0.5);
    font-size: 18px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 10px;
    box-shadow: 2px 2px 15px
}

.content .result .result-header h1{
    text-align: center;
    padding-top: 15px;
    font-size: 36px;
}

.content .result .result-body .winner {
    text-align: center;
}

.content .result .result-body .winner .winner-name {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 15px;
    color: #4a536e;
}

.content .result .result-body .statistics {
    margin-top: 30px;
    margin-left: 15px
}

.content .result .result-body .statistics table{
    width: 80%;
    border-collapse: collapse;
    border-spacing: 0;
    position: relative;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.content .result .result-body .statistics td, th {
    border: 1px solid rgb(190,190,190);
    text-align: center;
    padding: 5px 5px;
}

.content .result .result-body .statistics .red {
    color: rgb(177, 35, 35);
}

.content .result .result-body .statistics .green {
    color: rgb(28, 65, 28);
}

/* Style for login and signup forms */

.login, .register {
    width: 400px;
    background-color: #ffffff;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    margin: 100px auto;
}

.login h1, .register h1 {
    text-align: center;
    color: #5b6574;
    font-size: 24px;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #dee0e4;
}

.login .links, .register .links {
    display: flex;
    padding: 0 15px;
}

.login .links a, .register .links a {
    color: #adb2ba;
    text-decoration: none;
    display: inline-flex;
    padding: 0 10px 10px 10px;
    font-weight: bold;
}

.login .links a:hover, .register .links a:hover {
    color: #9da3ac;
}

.login .links a.active, .register .links a.active {
    border-bottom: 3px solid #3274d6;
    color: #3274d6;
}

.login form, .register form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}

.login form label, .register form label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #3274d6;
    color: #ffffff;
}

.login form input[type="password"], .login form input[type="text"], .login form input[type="email"], .register form input[type="password"], .register form input[type="text"], .register form input[type="email"] {
    width: 320px;
    height: 50px;
    border: 1px solid #dee0e4;
    margin: 0 10px 20px 0;
    padding: 0 15px;
}

.login form input[type="submit"], .register form input[type="submit"] {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    background-color: #3274d6;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s;
}

.login form input[type="submit"]:hover, .register form input[type="submit"]:hover {
    background-color: #2868c7;
    transition: background-color 0.2s;
}
     
::placeholder {
    color: rgba(17, 47, 212, 0.1);
    opacity: 1;
    font-weight: bold;
}

/* Style for navigation bar*/

.navtop {
    background-color: #2f3947;
    height: 60px;
    width: 100%;
    border: 0;
}

.navtop div {
    display: flex;
    margin: 0 auto;
    width: 1500px;
    height: 100%;
}

.navtop div h1, .navtop div a {
    display: inline-flex;
    align-items: center;
}

.navtop div h1 {
    flex: 1;
    font-size: 24px;
    padding: 0;
    margin: 0;
    color: #eaebed;
    font-weight: normal;
}

.navtop div a {
    padding: 0 20px;
    text-decoration: none;
    color: #c1c4c8;
    font-weight: bold;
}

.navtop div a i {
    padding: 2px 8px 0 0;
}

.navtop div a:hover {
    color: #eaebed;
}