{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}

{% for message in get_flashed_messages() %}
	
    <div class="alert alert-warning alert-dismissible fade show" role="success">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endfor %}

<div>

    <h2>Users list</h2>
    <div class="admin_table">
        <table>
            <tr>
                <th>User ID</th>
                <th>Last Name</th>
                <th>First Name</th>
                <th>Email</th>
                <th>Username</th>
                <th>Actions</th>
            </tr>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>
                        {{ user.last_name }}
                    </td>
                    <td>
                        {{ user.first_name }}
                    </td>
                    <td>
                        {{ user.email }}
                    </td>
                    <td>
                        {{ user.username }}
                    </td>
                    <td>
                        <a href="{{ url_for('main.update_user', user_id=user.id) }}" class="update_user">Edit</a>
                        {% if user.id != 1 %}
                            <a href="{{ url_for('main.delete_user', user_id=user.id) }}" class="delete_user">Delete</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

</div>

{% endblock %}